body {
  padding-top: 10px;
  background-image: url("../files/home-background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
/*
img {
  border: 2px solid black;
} */

hr {
  margin: 5px 5px;
}

.header_logo {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width:auto;
}
/* [class*="col-"] {
  padding: 0px 5px;
 } */

.error {
  color:red;
  font-size:auto;
}

.navbar-default {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.starter-template {
  text-align: center;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
    height: 60px;
    padding-top: 0px;
    right: 0%;
    left: 0%;
    bottom: 0%;
}

.foot-img {
  /*border: 2px solid black;*/
  height: 50px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.subscription-button {
  text-align: center;
  border-radius: 5px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;

}
.foot-img-cells {
  padding: 0px;
  text-align: center;
  display: grid;
  justify-content: center;
}

.row {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    background-color: #bccad6;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* .card-row [class*="col-"] {
  padding: 0px 5px;
 } */

.card-text {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.card-row .card {
  height: 300px;
}

.card-title {
  margin: 0px 0px;
  text-align: center;
  padding: 5px 5px 10px 10px;
}

.card-body {
  padding: 5px 5px 10px 10px;
}

.card-img-top {
  height: 90px;
  padding: 5px 5px 10px 10px;
}

.card-body a {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.card-body-faq {
  padding: 20px 20px 20px 20px;
  text-align: justify
}

.btn-primary {
  width:200px;
  background-color: #1175A4;
  border-color: #1175A4;
}

.social-network-btn {
  text-align: center;

}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
} */

/*[class*="col-"], footer, .container {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
}*/

/*[class*="row"] {
  background-color: grey;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}*/

.usefull_links{
  margin: inherit;
  border-radius: 5px;
  background-color: #bccad6;
}

.usefull_links_title{
  padding-left: 10px;
  font-size: 35px;
}

.socials{
  text-align: center;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 10px;
  padding-inline-start: 0px;

}

.socials_2{
  display: inline-block;
}

.social{
  color: #fff;
}

.lettre-info-title{
  padding-left: 10px;
  font-size: 35px;
  font-weight: bold;
}

.pages-title{
  font-size: 35px;
  padding-left: 10px;
}

.pages-body{
  padding-top: 10px;
  text-align: justify;
  font-size: 12px;
  padding-left: 10px;
  width:100%;
}

.form-group{
  width:100%;
  font-size: 15px;
}

.footer-body {
  padding-top: 5px;
  text-align: left;
  font-size: 10px;
  width:100%;
}

.footer-body ul {
  padding-inline-start: 15px;
}

.mentions-legales {
  font-size: 10px;
}

h6 i {
  position: absolute;
  right: 10px;
}

.card .card-header {
  cursor: pointer;
});
