body {
  padding-top: 10px;
  background-image: url("../files/home-background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.header_logo {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.navbar-default {
  background-color: #FFFFFF;
}
.starter-template {
  text-align: center;
}
